name: C/C++ CI

on:
  push:
      branches: [ upgrade ]
  pull_request:
      branches: [ upgrade ]
  workflow_dispatch:

jobs:
  build-and-test:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: install cppunit
        run: sudo apt update && sudo apt install -y build-essential autoconf automake libtool pkg-config dh-autoreconf debhelper devscripts fakeroot build-essential libperl-dev libsdl1.2-dev libsdl-image1.2-dev libsdl-mixer1.2-dev libsdl-net1.2-dev libfreetype6-dev
      - name: autoreconf
        run: autoreconf -i
      - name: configure
        run: ./configure
      - name: make
        run: make
      - name: make test
        run: make test
