name: Windows Build (MSYS2 / MinGW64)

on:
  push:
    branches: [ master, upgrade ]
  pull_request:
    branches: [ master, upgrade ]
  workflow_dispatch:

env:
  CXXFLAGS: -I/mingw64/include/freetype2 $CXXFLAGS
  LDFLAGS: -L/mingw64/lib $LDFLAGS

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            base-devel
            automake
            autoconf
            libtool
            mingw-w64-x86_64-perl
            mingw-w64-x86_64-icu
            mingw-w64-x86_64-libiconv
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-make
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-SDL
            mingw-w64-x86_64-SDL_image
            mingw-w64-x86_64-SDL_mixer
            mingw-w64-x86_64-SDL_net
            mingw-w64-x86_64-freetype

      - name: Configure project
        shell: msys2 {0}
        run: |
          autoreconf -i -f
          ./configure --prefix=/mingw64 --host=x86_64-w64-mingw32
          ls -a /mingw64/include/freetype2/ft2build.h

      - name: Build
        shell: msys2 {0}
        run: |
          make -j$(nproc)

      - name: Install (optional)
        shell: msys2 {0}
        run: |
          make install DESTDIR=./win-dist
