name: Windows Build (MSYS2 / MinGW64)

on:
  push:
    branches: [ master, upgrade ]
  pull_request:
    branches: [ master, upgrade ]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            base-devel
            automake
            autoconf
            libtool
            mingw-w64-x86_64-perl
            mingw-w64-x86_64-icu
            mingw-w64-x86_64-libiconv
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-make
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-SDL
            mingw-w64-x86_64-SDL_image
            mingw-w64-x86_64-SDL_mixer
            mingw-w64-x86_64-SDL_net
            mingw-w64-x86_64-freetype

      - name: Configure project
        shell: msys2 {0}
        run: |
          CFLAGS="-ID:/a/_temp/msys64/mingw64/include/freetype2 -ID:/a/_temp/msys64/mingw64/include/harfbuzz -ID:/a/_temp/msys64/mingw64/include/glib-2.0 -ID:/a/_temp/msys64/mingw64/lib/glib-2.0/include -ID:/a/_temp/msys64/mingw64/include/SDL -ID:/a/_temp/msys64/mingw64/include/SDL_image -ID:/a/_temp/msys64/mingw64/include/SDL_mixer -ID:/a/_temp/msys64/mingw64/include/SDL_net -ID:/a/_temp/msys64/mingw64/include/libpng16"
          LDFLAGS="-LD:/a/_temp/msys64/mingw64/lib -lfreetype -lSDL -lSDL_image -lSDL_mixer -lSDL_net -lharfbuzz -lpng16 -lglib-2.0"
          autoreconf -i -f
          ./configure --prefix=/mingw64 --host=x86_64-w64-mingw32 CFLAGS="$CFLAGS" LDFLAGS="$LDFLAGS"

      - name: Check
        shell: msys2 {0}
        run: |
          export
          ls -l /mingw64/include/freetype2/ft2build.h
          ls -l /mingw64/include/freetype2/
          pkg-config --cflags freetype2
          pkg-config --libs freetype2
          
      - name: Build
        shell: msys2 {0}
        run: |
          make -j$(nproc)

      - name: Install (optional)
        shell: msys2 {0}
        run: |
          make install DESTDIR=./win-dist
          tar zcvf openmortal-0.7_windows_x86-64.tar.gz ../win-dist

      - name: Upload Windows binary gzip archives for x86-64
        uses: actions/upload-artifact@v4
        with:
          name: openmortal-0.7_windows_x86-64.tar.gz
          path: openmortal-?.?_windows_x86-64.tar.gz
